[Unit]
Description=Lm-bbw service - Acaia Lunar add-on
BindsTo=bluetooth.target
After=bluetooth.target

[Service]
# --- FIX: Reset Bluetooth Adapter on Start ---
# This kills any 'stale' connections that prevent the scale from being found.
ExecStartPre=/bin/sh -c 'rfkill unblock bluetooth; bluetoothctl power off; sleep 1; bluetoothctl power on; sleep 2'
# ---------------------------------------------

ExecStart=python3 /opt/lm-bbw/lm-bbw.py
EnvironmentFile=/etc/default/lm-bbw
WorkingDirectory=/opt/lm-bbw
Restart=always
TimeoutSec=10
MemoryMax=336M
User=root

[Install]
WantedBy=multi-user.target
